p {
  font-family: verdana, arial, sans-serif;
  line-height: 1.3rem;
}
/* Navbar  */
.navbar {
  /*background: rgba(0, 28, 118, 0.3);*/
  background: #d3dee1;
  border: 1px solid gray;
  border-radius: 0;
  margin-bottom: 0px;
}
.navbar > .nav {
  margin-left: 12px;
}
.navbar-brand {
  font-weight: bold;
}

/* Toggle menu  */
.menu{
  /*background: rgba(0, 255, 0, 0.5);*/
  position: relative;
  background: #5AC1DE;
  height: calc(100vh - 52px);
  margin:0px;
  padding: 14px 24px;
  text-align:center;
  overflow: auto;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#1d1f20 1px solid;
  }
.menu li:hover{
  display: block;
  background:#181818;
  padding:15px 0 15px 0;
  border-bottom:#1d1f20 1px solid;
}
.menu ul li a {
 text-decoration:none;
 margin: 0px;
 color:#fff;}
.menu ul li a:hover {
 color: #fff;
 text-decoration:none;
}
.menu a{
  text-decoration:none;
  color:white;
}
.menu a:hover{
  text-decoration:none;
  color:white;
}
.menu #userinput {
  min-width: 200px;
  margin: 12px;
  padding: 6px;
}
.menu .btn {
  margin-right: 12px;
  margin-bottom: 10px;
}
.menu .form-group .btn:last-of-type{
  margin-right: 0;
}
.menu .btn-warning {
  background-color: #ffb916;
  border-color: #e0a20f;
}
.menu .btn-warning:hover {
  background-color: #d69d17;
  border-color: #ba8915;
}
.menu p {
  margin-bottom: 1rem;
  color: #fff;
}
/* Toggle menu buttons */
#buttons {
  padding: 8px;
/*  border: 1px solid green;*/
}

#buttons .btn {
  font-size: .8rem;
}
/* Layout styles */
html {
  height: 100%;
}
.main .container-fluid {
  height: calc(100vh - 52px);
  margin-left: 0;
  margin-right: 0;
  background-color: #085f78;
}


/* Gif styles */
.gif-container {
  border: 1px solid green;
}
/* Styling gifs */
#scrollable_div {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 72px;
  /*height: height: calc(100vh - 52px);*/
  height: auto;
  border: solid 1px yellow;
  overflow: auto;
}

.gif-wrap {
  position: relative;
  width: 100%;
  padding: 1rem;
  text-align: center;
  /*border: 1px solid red;*/
}

.gif-wrap span {
  font-size: 14px;
  color: #fff;
}

.gif-img-wrap {
  position: relative;
  height: 225px;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  /*border: 1px solid yellow;*/
}

.gif-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  filter: opacity(35%);
  /*border: 1px solid green;*/
}

.gif {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  height: 100%;
  /*border: 1px solid blue;*/
  z-index: 0;
}

.download-link {
  display: inline-block;
  font-size: 12px;
  color: #7eb1dc;
}

/* Footer styles */
#footer-content {
  height: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  margin-bottom: 18px;
  color: #fff;
  font-weight: bold;
}
#footer-content a {
  color: #085f78;
}



/* Media queries*/
/*@media (min-width: 768px) {
  .container {
    max-width: 1080px;
  }

  #sidebar {
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
  }
}*/

@media (min-width: 768px) {
  body {
    height: 100%;
  }
  body > div.container-fluid {
    height: 100%;
  }
  body > div.container-fluid > div.main {
    height: 100%;
  }
  body > div.container-fluid > div.main > .col-md-3 {
    height: 100%;
    background-color: #015561;
  }
  body > div.container-fluid > div.main > .col-md-3 > #sidebar {
    width: 25%;
    position: fixed;
  }
  .form-group {
    height: auto;
  }
  .menu {
    max-width: 400px;
  }
}

