/* Navbar  */
.navbar {
  background: rgba(0, 28, 118, 0.3);
  /*display: inline-block;*/
  border: 1px solid gray;
  margin-bottom: 0px;
}
.navbar > .nav {
  margin-left: 12px;
}

/* Toggle menu  */
.menu{
  font-weight:bold;
  font-size:0.8em;
  width:300px;
  height: 100%;
  background: rgba(0, 255, 0, 0.5);
  text-align:center;
  margin:0px;
}
.menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style-image: none;
}
.menu li {
  display: block;
  padding:15px 0 15px 0;
  border-bottom:#1d1f20 1px solid;
  }
.menu li:hover{
  display: block;
  background:#181818;
  padding:15px 0 15px 0;
  border-bottom:#1d1f20 1px solid;
}
.menu ul li a {
 text-decoration:none;
 margin: 0px;
 color:#fff;}
.menu ul li a:hover {
 color: #fff;
 text-decoration:none;
}
.menu a{
  text-decoration:none;
  color:white;
}
.menu a:hover{
  text-decoration:none;
  color:white;
}
#menu {
  background: #015561;
  padding: 14px 24px;
}
#menu input {
  margin-bottom: 0.5rem;
}
#menu #userinput {
  padding: 6px;
}
#menu .btn {
  margin: 10px 0px;
  margin-right: 12px;
}
#menu p {
  line-height: 1.2;
  margin-bottom: 1rem;
  color: #fff;
}
/* Toggle menu buttons */
#buttons {
  background-color: lightgray;
  padding: 14px;
}

#buttons .btn {
  margin: 10px 0px;
  margin-right: 12px;
}
/* Layout styles */
html {
  height: 100%;
}
.container-fluid {
  /*height: 100%;*/
}
.container {
  padding-left: 0;
  padding-right: 0;
}
.container .row {
  margin-left: 0;
  margin-right: 0;
}
.col-12 {
  padding-right: 0;
  padding-left: 0;
}


/* Gif styles */
.gif-container {
  border: 1px solid green;
}
/* Styling gifs */
#scrollable_div {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 72px;
  /*border: solid thin green;*/
}

.gif-wrap {
  position: relative;
  width: 100%;
  padding: 1rem;
  text-align: center;
  /*border: 1px solid red;*/
}

.gif-wrap span {
  font-size: 14px;
}

.gif-img-wrap {
  position: relative;
  height: 225px;
  margin-top: 12px;
  margin-bottom: 12px;
  overflow: hidden;
  /*border: 1px solid yellow;*/
}

.gif-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 80px;
  filter: opacity(35%);
  /*border: 1px solid green;*/
}

.gif {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
  height: 100%;
  /*border: 1px solid blue;*/
  z-index: -1;
}

.download-link {
  display: inline-block;
  font-size: 12px;
}

/* Footer styles */
#menu-footer {
  position: fixed;
  bottom: 0;
  left: 50px;
  color: #fff;
  height: 30px;
  text-align: center;
  font-weight: bold;
}

#menu-footer a {
  color: #17a2b8;
}

/* Media queries*/
/*@media (min-width: 768px) {
  .container {
    max-width: 1080px;
  }

  #sidebar {
    margin: 0 auto;
    width: 90%;
    padding: 1rem;
  }
}*/

@media (min-width: 768px) {
  body {
    height: 100%;
  }
  body > div.container-fluid {
    height: 100%;
  }
  body > div.container-fluid > div.main {
    height: 100%;
  }
  body > div.container-fluid > div.main > .col-md-3 {
    height: 100%;
    background-color: #015561;
  }
  body > div.container-fluid > div.main > .col-md-3 > #sidebar {
    width: 25%;
    position: fixed;
  }
  .form-group {
    height: auto;
  }
}