.btn {
	margin: 10px 0px;
}
.sidebar .btn {
	display: block;
}
.sidebar label {
	margin: 10px 0px;
}
.sidebar p {
	line-height: 1.2;
}
.buttons .btn {
	margin-right: 10px;
}
.gif-wrap {
	float: left;
	margin: 10px 12px;
}
.gif-wrap p {
	margin-bottom: 10px;
}
.main {
	margin: 1.5rem 0;
}
.main-content h1 {
  font-size: 2rem;
}
.download-btn {
	display: inline-block;
	margin: 1rem 0;
}